.btn-xl {
  background: var(--strong-orange);
  border-color: var(--strong-orange);
  border-radius: 30px;
  padding: 1rem 2 rem;
}

.btn-xl:hover {
  background: var(--weak-orange);
  border-color: var(--weak-orange);
}

.spin {
  height: 100vh;
  align-items: center;
  color: var(--strong-orange);
}
